<div class="wrapper">
	<div class="main">
		<div class="px-2 scroll" id="renderMessager">
		</div>

		<nav class="navbar bg-white navbar-expand-sm d-flex justify-content-between">
			<input type="text number" name="text" class="form-control" placeholder="Type a message..." id="txtMessage">

			<div class="icondiv d-flex justify-content-end align-content-center text-center ml-2">
				@* <i class="fa fa-smile icon3" id="emojiPicker"></i> *@
				<i class="fa fa-paperclip icon1" id="emojiPicker"></i>
				<i class="fa fa-arrow-circle-right icon2" id="btnSend"></i>
			</div>


		</nav>

	</div>

</div>