@model ShoeStoreClothing.ViewModels.CategoryViewModel
@{
    Layout = "_LayoutAdmin";
}
<div class="container mt-5">
    <h2>Create New Category</h2>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <form asp-area="Admin" asp-controller="Category" asp-action="Create" method="post" class="needs-validation">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="CategoryName" class="control-label">Category Name</label>
            <input asp-for="CategoryName" class="form-control">
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
